@media only screen and (max-width: 768px) {
    @font-face {
        font-family: Montserrat-Bold;
        src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
      }
    html {
        margin:0;
        padding:0;
        width:100vw;
        overflow-x: hidden;
        scroll-behavior: smooth;

        *, *:before, *:before {
            box-sizing: border-box;
        }

        body {
            margin:0;
            padding:0;
            width:100vw;
            overflow-x:hidden;

            .nav_mobile {
                width:100vw;
                margin-top:20px;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content: center;

                .logo {
                    width:20vw;

                    img {
                        width:100%;
                    }
                }

                ul {
                    width:95vw;
                    height:5vh;
                    display:flex;
                    position:sticky;
                    top:90vh;
                    flex-direction:row;
                    align-items: center;
                    justify-content: space-evenly;
                    list-style: none;
                    background-color: #fde7f25d;
                    border: 1px solid rgb(253, 224, 229);
                    border-radius: 10px;

                    li {
                        a{
                            text-decoration: none;
                            color:black;
                            font-family:roboto, sans-serif;
                            transition: 0.3s linear;
                        }
                        a:hover {
                            color: rgb(21, 212, 18);
                            border-bottom: 2px solid rgb(22, 212, 18);
                            transform-origin: scale(5);
                        }
                    }
                }
            }
            .nav_desktop {
                display:none;
            }
            #home {
                width:100vw;
                display:flex;
                flex-direction:column-reverse;
                align-items: center;
                justify-content: center;
                margin-bottom:20px;

                .textmobile {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width:100vw;

                    h1 {
                        width:100%;
                        text-align: center;
                        font-family:roboto, sans-serif;
                        font-weight: 600;
                        letter-spacing: 0.03em;
                        font-size:2.5em;
                        line-height:0.8em;
                        color: #FF7BBA;
                    }

                    h2 {
                        width:100%;
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        letter-spacing: 0.05em;
                        font-size:2em;
                        line-height:0.5em;
                    }
                }
    
                .text {
                    width:75vw;
                    margin-left:8vw;
                    margin-top:8%;
                    height:50vh;
                    display:flex;
                    flex-direction:column;

                    h1 {
                        display:none;
                        font-family:roboto, sans-serif;
                        font-weight: 600;
                        letter-spacing: 0.05em;
                        font-size:1em;
                        line-height:0.1em;
                        color: #FF7BBA;
                    }

                    h2 {
                        display:none;
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        letter-spacing: 0.05em;
                        font-size:0.9em;
                        line-height:0.1em;
                    }

                    p {
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        letter-spacing: 0.03em;
                        font-size:1em;
                        line-height:1.3em;
                    }

                    button {
                        width:50vw;
                        padding:3%;
                        background-color:white;
                        border: 1px solid lightblue;
                        border-radius:20px;
                        margin:0 10%;
                        transition: 0.3s linear;

                        a {
                            text-decoration: none;
                            color:lightblue;
                            text-transform: uppercase;
                            font-family:roboto, sans-serif;
                            font-weight: lighter;
                            font-size:0.7em;
                            letter-spacing: 0.08em;
                        }
                    }
                    button:hover {
                        transform:scale(0.95);
                    }
                }
    
                .right-stuff {
                    width:50vw;
                    display:flex;
                    flex-direction:column;
                    align-items: center;
                    justify-content: center;

                    #avatar {
                        width:75vw;
                    }

                    #socialmedia {
                        display:none;
                        flex-direction:column;
                        align-items:flex-end;
                        justify-content: space-evenly;
                        height:30vh;
                        a {
                            transition: 0.3s linear;
                            img {
                                width:3vw;
                            }
                        }
                        a:hover {
                            transform: scale(0.95);
                        }
                    }
                }
                .button {
                    position:absolute;
                    z-index:100;
                    top:35vh;
                    left:70vw;

                    button {
                        width:25vw;
                        padding:5%;
                        background-color:lightblue;
                        border: 1px solid lightblue;
                        border-radius:20px;
                        color:white;
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        font-size:0.6em;
                        letter-spacing: 0.08em;
                        transition: 0.3s linear;
                    }
                    button:hover {
                        transform: scale(0.95);
                    }
                }
                .flower {
                    display:none;
                    position:absolute;
                    z-index:-100;
                    left:-3vw;
                    top:68vh;

                    img {
                        width:25vw;
                    }
                }
            }
            #about {
                width:100vw;
                margin:2%;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content: space-evenly;

                .row1 {
                    display:flex;
                    flex-direction:column-reverse;
                    align-items:center;
                    justify-content: space-evenly;
                    width:100vw;

                    .text-box1 {
                        width:85vw;
                        display:flex;
                        flex-direction:column;
                        align-items: baseline;

                        h1 {
                            font-family:roboto, sans-serif;
                            font-weight: 600;
                            letter-spacing: 0.03em;
                            font-size:1.8em;
                            line-height:0.1em;
                            color: #FF7BBA;
                        }
                        p {
                            font-family:roboto, sans-serif;
                            font-weight: lighter;
                            letter-spacing: 0.03em;
                            font-size:1em;
                            line-height:1.3em;
                        }
                    }

                    .hikingpic {
                        width:65vw;

                        img {
                            width:100%;
                        }
                    }
                    #feather {
                        width:15%;
                        z-index:100;
                        position: absolute;
                        top:22%;
                        left:9%;
                    }
                }
                .row2 {
                    display:flex;
                    flex-direction:column;
                    justify-content: space-evenly;
                    align-items:center;
                    width:100vw;
                    margin-top:7%;

                    .text-box2 {
                        width:85vw;
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        letter-spacing: 0.03em;
                        font-size:1em;
                        line-height:1.3em;
                    }
                    img {
                        width:40%;
                    }
                }
            }
            #fleur {
                position:absolute;
                z-index:-100;
                left:-3vw;
                top:123vh;
                width:20vw;
            }
            #paperAirplane {
                z-index:-100;
                position:absolute;
                top:40vh;
                left:65vw;
                width:25%;
            }
            #contact {
                display:flex;
                flex-direction:column;
                justify-content: center;
                align-items:center;
                width:100vw;

                .column1 {
                    width:100vw;
                    display:flex;
                    flex-direction:column;
                    justify-content: center;
                    align-items:center;
                    margin-top:5%;

                    .text-box1 {
                        display:flex;
                        flex-direction:column;
                        justify-content: center;
                        align-items: center;
                        width:100vw;

                        h1 {
                            width:80vw;
                            text-align:center;
                            font-family:roboto, sans-serif;
                            font-weight: 200;
                            letter-spacing: 0.03em;
                            font-size:1.5em;
                            line-height:2em;
                            color: #FF7BBA;
                        }
                        h2 {
                            text-align:center;
                            font-family: roboto, sans-serif;
                            font-weight:lighter;
                            font-size:1.5em;
                            letter-spacing: 0.03em;
                            line-height:2em;
                            color:rgb(51, 51, 51);
                        }
                    }
                    img {
                        width:27%;
                    }
                }
                .column2 {
                    width:100vw;
                    display:flex;
                    flex-wrap:wrap-reverse;
                    align-items: center;
                    justify-content: center;

                    #wa {
                        width:80%;
                    }
                    .contactme {
                        display:flex;
                        flex-direction:column;
                        width:45vw;
                        height:30vh;
                        justify-content: space-evenly;
                        background-color:rgb(224, 224, 224);
                        border-radius:5%;

                        #email {
                            display:flex;
                            flex-direction:column;
                            justify-content: flex-start;

                            button {
                                width:30%;
                                transition: 0.3s linear;

                                img {
                                    width:100%;
                                }
                            }
                            button:hover {
                                transform: scale(0.95);
                            }
                            #myInput {
                                margin-left:3vw;
                                font-size:0.9em;
                                width:90%;
                                color:rgb(107, 107, 107);
                                background-color:rgb(224, 224, 224);
                            }
                        }
                        #phone {
                            display:flex;
                            flex-direction:column;
                            justify-content: flex-start;

                            a {
                                width:30%;
                                transition: 0.3s linear;

                                img {
                                    width:100%;
                                }
                            }
                            a:hover {
                                transform: scale(0.95);
                            }
                            p {
                                margin-left:3vw;
                            }
                        }
                    }
                    .socialmedia {
                        display:flex;
                        flex-direction:column;
                        justify-content: space-evenly;
                        width:40vw;
                        height:300px;

                        img {
                            width:20%;
                            transition: 0.3s linear;
                        }
                        img:hover {
                            transform: scale(0.95);
                        }
                    }
                }
            }
            #creativeDesign {
                font-family:impact;
                font-size:4em;
                line-height:1em;
                margin:0;
                text-transform:uppercase;
                color:rgba(255, 182, 193, 0.596);
                width:20vw;
                position:absolute;
                z-index:-100;
            }
            #design {
                display:flex;
                flex-direction:column;
                width:100vw;
                align-items:center;
                margin-top:35%;
                margin-bottom:50px;

                .carousel-container {
                    width:200px;
                    margin:auto;
                    overflow: hidden;

                    .carousel-slide {
                        display:flex;
                        width:100%;
                        height:300px;

                        .img {
                            transition: 0.3s linear;

                            a {

                                img {
                                    width:200px;
                                }
                            }
                        }
                        .img:hover {
                            transform:scale(0.99);
                        }
                    }
                }
                .buttons {
                    display:flex;
                    flex-direction:row;
                    width:100vw;
                    justify-content: space-around;

                    button {
                        width:20vw;
                        height:40px;
                        padding:3%;
                        background-color:white;
                        border: 1px solid lightblue;
                        border-radius:20px;
                        color:lightblue;
                        text-transform: uppercase;
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        font-size:0.7em;
                        letter-spacing: 0.08em;
                        transition: 0.3s linear;
                    }
                    button:hover {
                        transform:scale(0.95);
                    }
                }
                .list {
                    display:none;
                }
            }
            #DA-title {
                font-family: impact;
                font-size: 4em;
                line-height: 1em;
                margin: 0;
                margin-left:5%;
                text-transform: uppercase;
                color: rgba(255, 182, 193, 0.596);
                width: 20vw;
                position: absolute;
                z-index: -100;
            }
            #digitalart {
                width:100vw;
                margin-top:35%;

                .imgBox {
                    width:200px;
                    margin:50px auto 20px;

                    img {
                        width:100%;
                        box-shadow:0 5px 25px rgba(255, 108, 243, 0.25);
                    }
                }

                ul.thumb {
                    margin:0 auto;
                    padding:0;
                    display:flex;
                    flex-wrap: wrap;
                    align-items:center;
                    justify-content:space-evenly;

                    li {
                        width:20%;
                        list-style: none;
                        margin:0 5px;

                        img {
                            width:100%;
                            border:4px solid white;
                            box-shadow:0 5px 25px rgba(255, 108, 243, 0.5);
                            transition: 0.3s linear;
                        }

                        img:hover {
                            transform:scale(0.95);
                        }
                    }
                }
                
            }
            #PD-title {
                font-family: impact;
                font-size: 4em;
                line-height: 1em;
                margin: 0;
                margin-left:5%;
                text-transform: uppercase;
                color: rgba(255, 182, 193, 0.596);
                width: 20vw;
                position: absolute;
                z-index: -100;
            }
            #productdesign {
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width:100vw;
                margin-top:35%;
                
                a {
                    width:50%;
                    margin-top:40px;
                    margin-bottom:40px;

                    img {
                        width:100%;
                    }
                }
                
            }
            #ux {
                margin:0;
                padding:0;
                width:100vw;
                height:100vh;
                display:flex;
                flex-direction:column;

                .row1 {
                    display:flex;
                    flex-direction:row;
                    justify-content: space-evenly;

                    .text {
                        width:45vw;
                        display:flex;
                        flex-direction:column;
                        align-items: baseline;

                        h1 {
                            font-family:roboto, sans-serif;
                            font-weight: 200;
                            letter-spacing: 0.03em;
                            font-size:3em;
                            line-height:1em;
                            color: #FF7BBA;
                        }
                        h2 {
                            font-family: roboto, sans-serif;
                            font-weight:lighter;
                            font-size:1.5em;
                            letter-spacing: 0.03em;
                            line-height:1em;
                            color:rgb(51, 51, 51);
                        }
                        p {
                            font-family:roboto,sans-serif;
                            font-weight:lighter;
                            font-size:1em;
                            letter-spacing:0.02em;
                            line-height:1.3em;
                            color:rgb(61, 61, 61);
                        }
                    }
                    .img {
                        width:35vw;

                        img {
                            width:100%;
                        }
                    }
                }
                .row2 {
                    width:100vw;

                    h1 {
                        text-align:center;
                        width:100vw;
                        font-family:impact;
                        font-weight: 400;
                        letter-spacing: 0.05em;
                        font-size:2em;
                        line-height:1em;
                        color: #ffbcdcb7;
                        text-transform:uppercase;
                    }
                    .projects {
                        display:flex;
                        flex-direction:row;
                        justify-content:center;
                        align-items:center;
                        width:100vw;

                        a {
                            margin:10px;
                            width:25vw;
                            border:1px solid rgb(255, 226, 231);
                            border-radius:10px;
                            padding:20px;
                            background-color:rgba(255, 227, 231, 0.219);
                            transition: 0.3s linear;

                            img {
                                width:100%;
                            }
                        }
                        a:hover {
                            transform:scale(0.98);
                        }
                    }
                }
            }
            h1 {
                color:lightpink;
                font-family:roboto, sans-serif;
                font-size:2.5em;
                font-weight: 600;
                letter-spacing: 0.02em;
                float:right;
                margin-right:15%;
            }
            #hatfieldrm {
                width:100vw;
                display:flex;
                flex-direction:row;
                justify-content: space-evenly;

                h2 {
                    font-family:roboto, sans-serif;
                    font-size:1.2em;
                    font-weight: lighter;
                    text-transform: uppercase;
                    letter-spacing: 0.03em;
                    line-height:0.9em;
                }
                p {
                    font-family:roboto, sans-serif;
                    font-weight: lighter;
                    letter-spacing: 0.05em;
                    font-size:0.9em;
                    line-height: 1.4em;
                    color:rgb(53, 53, 53);
                }

                .row1 {
                    display:flex;
                    flex-direction:column;
                    width:45vw;

                    img {
                        width:85%;
                    }

                }
                .text {
                    display:flex;
                    flex-direction:column;
                    width:35vw;
                }
            }
            .skills {
                width:100vw;
                display:flex;
                flex-direction:row;
                justify-content: space-evenly;

                img {
                    width:40%;
                }
                .text {

                    h2 {
                        font-family:roboto, sans-serif;
                        font-size:1.2em;
                        font-weight: lighter;
                        text-transform: uppercase;
                        letter-spacing: 0.03em;
                        line-height:0.9em;
                    }
                    p {
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        letter-spacing: 0.05em;
                        font-size:0.9em;
                        line-height: 1.4em;
                        color:rgb(53, 53, 53);
                    }
                }
            }
            .recruiter {
                width:100vw;
                display:flex;
                flex-direction:row;
                justify-content: space-evenly;

                img {
                    width:50%;
                }
                .text {

                    h2 {
                        font-family:roboto, sans-serif;
                        font-size:1.2em;
                        font-weight: lighter;
                        text-transform: uppercase;
                        letter-spacing: 0.03em;
                        line-height:0.9em;
                    }
                    p {
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        letter-spacing: 0.05em;
                        font-size:0.9em;
                        line-height: 1.4em;
                        color:rgb(53, 53, 53);
                    }
                }
            }
            .insights {
                width:100vw;
                display:flex;
                flex-direction:row;
                justify-content: space-evenly;

                .text {
                    width:45vw;

                    h2 {
                        font-family:roboto, sans-serif;
                        font-size:1.2em;
                        font-weight: lighter;
                        text-transform: uppercase;
                        letter-spacing: 0.03em;
                        line-height:0.9em;
                    }
                    p {
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        letter-spacing: 0.05em;
                        font-size:0.9em;
                        line-height: 1.4em;
                        color:rgb(53, 53, 53);
                    }
                }
                .download-QA {
                    width:15vw;

                    a {
                        text-decoration: none;
                        color:lightblue;
                        text-transform: uppercase;
                        text-align:center;
                        font-family:roboto, sans-serif;
                        font-weight: lighter;
                        font-size:0.8em;
                        letter-spacing: 0.08em;
                        padding-top:25px;
                        padding-bottom:25px;
                        padding-right:30px;
                        padding-left:30px;
                        background-color:white;
                        border: 1px solid lightblue;
                        border-radius:20px;
                        transition: 0.3s linear;
                    }
                    a:hover {
                        transform: scale(0.95);
                    }
                }
            }
            #information {
                display:none;
                color:white;
                background-color:white;
                opacity:0;
            }
        }
    }
}